// Cores
$primary-color: #033B74;
$secondary-color: #DC2730;
$tertiary-color: #38CEFF;
$font-color: #333333;
// Tamanhos de fonte
$font-size-xsmall: 14px;
$font-size-small: 16px;
$font-size-base: 20px;
$font-size-medium: 25px;
$font-size-large: 40px;
$font-size-xlarge: 48px;
// Line Height
$line-height-font-size-xsmall: 20px;
$line-height-font-size-small: 23px;
$line-height-font-size-base: 28px;
$line-height-font-size-medium: 32px;
$line-height-font-size-large: 56px;
$line-height-font-size-xlarge: 70px;

// Geral

body {
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    color: $font-color;
    font-size: $font-size-base;
    line-height: $line-height-font-size-base;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 90dvw;
}
.container-fluid{
    padding: 0;
}
section{
    margin-top: 72px;
    &:first-of-type{
        margin-top: 0;
    }
}
.font-primary{
    color: $primary-color;
}
.text-primary{
    color: $primary-color !important;
}
.bg-primary{
    background-color: $primary-color !important;
}
.bg-secondary{
    background-color: $secondary-color !important;
}
.bg-tertiary{
    background-color: $tertiary-color !important;
}
h1,h2,h3{
    font-weight: bold;
}
h1{
    font-size: $font-size-xlarge;
    line-height: $line-height-font-size-xlarge;
}
h2{
    font-size: $font-size-large;
    line-height: $line-height-font-size-large;
}
h3{
    font-size: $font-size-medium;
    line-height: $line-height-font-size-medium;
}
.fsz-normal{
    font-size: $font-size-small;
    line-height: $line-height-font-size-small;
}
.icon-circle{
    margin-right: 8px;
}
.card{
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 15px;
    gap: 20px;
    justify-content: space-between;
    p{
        margin: 0;
    }
}

// Botões

.btn {
    font-size: $font-size-base;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid;
    border-radius: 30px;
    padding: 6px 18px;
    width: max-content;
    transition: all ease 0.3s;
    &.btn-large {
        font-size: $font-size-medium;
        padding: 8px 32px;
    }
    &:hover {
        letter-spacing: 2px;
    }
}
.primary-btn {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: #FFF;
    &:hover {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: #FFF;
    }
}
.transparent-btn{
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
    &:hover {
        color: $primary-color;
        border-color: $primary-color;
    }
}

// Banner

#banner{
    height: 100dvh;
    video{
        position: absolute;
        height: 100dvh;
        z-index: -1;
    }
    .container{
        height: 100%;
        .content-banner{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            gap: 80px;
            .logos{
                gap: 60px;
            }
            h2{
                font-size: 32px;
                line-height: 32px;
            }
        }
    }
}

// International Baccalaureate

#international-baccalaureate{
    #cards-ib{
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
    }
}

// IB DP

#ibdp{
    background-image: url('assets/bg-ibdp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    .texts{
        width: 50%;
    }
}

// Aprendizado IB DP

#aprendizado-ibdp{
    h2{
        margin-bottom: 100px;
    }
    .list{
        &:first-child{
            padding-right: 30px;
        }
        &:last-child{
            padding-left: 30px;
            border-left: 2px solid $secondary-color;
            p{
                &:first-child{
                    font-size: 25px;
                    line-height: 36px;
                }
            }
        }
    }
}

// Trajetória IB DP

#trajetoria-ibdp{
    background-color: $primary-color;
    background-image: url(assets/bg-trajetoria.svg);
    background-repeat: no-repeat;
    background-size: cover;
    .timeline{
        border: 2px solid #DDDDDD;
        border-radius: 8px;
        .item{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .timeline-header{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            background-color: #DDDDDD;
            gap: 2px;
            border-radius: 6px 6px 0 0;
            div{
                background-color: #fff;
                padding: 5px 10px;
            }
        }
        .timeline-semestres{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            background-color: #DDDDDD;
            gap: 2px;
            div{
                background-color: $primary-color;
                padding: 20px 30px;
            }
        }
        .timeline-conteudo{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            background-color: #DDDDDD;
            gap: 2px;
            font-size: $font-size-small;
            line-height: $line-height-font-size-small;
            font-weight: bold;
            border-radius: 0 0 6px 6px;
            div{
                padding: 10px 15px;
                &.bg-secondary {
                    grid-column: 2 / span 4;
                }
                &:first-child{
                    border-radius: 0 0 0 6px;
                }
                &:last-child{
                    border-radius: 0 0 6px 0;
                }
            }
        }
    }
}

// Habilidades para a vida

#habilidades-para-a-vida{
    #cards-habilidades{
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
        .card{
            p{
                line-height: 20px;
            }
        }
    }
}

// Perfil do aluno

#perfil-do-aluno{
    background-image: url(assets/bg-proposito.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 70px;
    .content-perfil{
        padding: 70px 70px 50px;
        border-radius: 24px;
        #cards-perfil{
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 50px;
            .perfil{
                align-items: center;
                gap: 15px;
                svg{
                    width: 48px;
                    min-width: 48px;
                }
                h3, p{
                    font-size: $font-size-small;
                    line-height: $line-height-font-size-small;
                }
                h3{
                    color: $tertiary-color;
                    margin-bottom: 0;
                }
                p{
                    color: #FFF;
                    margin-bottom: 0;
                }
            }
        }
    }
    .proposito{
        margin-top: 90px;
        h2{
            line-height: 40px;
        }
    }
}

// FAQ

#faq {
    background-color: #DDDDDD;
    padding-top: 72px;
    .container{
        padding-bottom: 200px;
    }
    .faq-item {
        padding: 15px 0;
    }
    .faq-question {
        color: $font-color;
        width: 100%;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: bold;
        text-align: left;
        padding: 0;
        svg {
            width: 20px;
            transition: all ease .3s;
        }
        &.active {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    .faq-answer {
        padding-left: 35px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all ease .6s;
        p{
            margin-bottom: 0;
        }
        &.open {
            opacity: 1;
            height: max-content;
        }
    }
}

// Converse com a equipe

#converse-com-a-equipe{
    background-image: url(assets/bg-forms.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    h2{
        line-height: 40px;
    }
    h3{
        color: $primary-color;
        margin-bottom: 5px;
    }
    .form-row{
        display: grid;
        gap: 32px;
        &.input-1{
            grid-template-columns: repeat(1, 1fr);
        }
        &.input-2{
            grid-template-columns: repeat(2, 1fr);
        }
        &.input-3{
            grid-template-columns: repeat(3, 1fr);
        }
        &.input-2-1{
            grid-template-columns: 2fr 1fr;
        }
    }
    input[type="radio"] {
        appearance: none;
        width: 24px;
        height: 24px;
        border: 2px solid $primary-color;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-right: 8px;
        transition: all 0.2s ease;
    }
    input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        min-width: 18px;
        width: 18px;
        height: 18px;
        border: 2px solid $primary-color;
        border-radius: 2px;
        background-color: #fff;
        cursor: pointer;
        display: inline-block;
        position: relative;
        margin-top: 4px;
        transition: all 0.2s ease;
        &:focus {
            outline: 2px solid rgba($primary-color, 0.4);
            outline-offset: 2px;
        }
        &:checked {
            background-color: $primary-color;
            border-color: $primary-color;
        }
        &:checked::after {
            content: "";
            position: absolute;
            left: 4px;
            top: 0px;
            width: 5px;
            height: 10px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    select,
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="number"]{
        font-size: $font-size-small;
        color: $primary-color;
        border: 1px solid #DDDDDD;
        border-radius: 8px;
        padding: 5px 10px;
        outline: none;
        width: 100%;
        height: 40px;
    }
    input[type="radio"]:checked::before {
    content: "";
        position: absolute;
        inset: 4px;
        background: $secondary-color;
        border-radius: 50%;
    }
    button[type="submit"],
    #adicionarAluno{
        padding: 6px 30px;
    }
    .radio-aluno{
        label{
            cursor: pointer;
        }
    }
    label{
        display: flex;
        align-items: center;
        color: $primary-color;
        font-size: $font-size-small;
        line-height: $line-height-font-size-small;
        margin-bottom: 3px;
    }
    form{
        display: none;
        background: linear-gradient(to right, #fff, rgba(#FFF, 0.3));
        padding: 0 60px 60px 0;
        #alunosContainer{
            .aluno{
                .aluno-header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    .remover-aluno{
                        font-size: $font-size-small;
                        line-height: $line-height-font-size-small;
                        color: $font-color;
                        border-color: $font-color;
                        padding: 3px 18px;
                    }
                }
                &:nth-child(n + 2){
                    margin-top: 24px;
                }
            }
        }
        .termos{
            margin-top: 30px;
            label{
                align-items: flex-start;
                gap: 8px;
                p{
                    color: $font-color;
                }
            }
        }
        &.ativo{
            display: block;
        }
    }
}

// Página Obrigado

#obrigado{
    background-image: url(assets/bg-obrigado.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100dvw;
    height: 100dvh;
    .texto{
        display: flex;
        align-items: center;
        border-right: 2px solid #DDDDDD;
        padding-right: 50px;
    }
}