// Cores
$primary-color: #033B74;
$secondary-color: #DC2730;
$tertiary-color: #38CEFF;
$font-color: #333333;
// Tamanhos de fonte
$font-size-xsmall: 14px;
$font-size-small: 16px;
$font-size-base: 20px;
$font-size-medium: 25px;
$font-size-large: 40px;
$font-size-xlarge: 48px;
// Line Height
$line-height-font-size-xsmall: 20px;
$line-height-font-size-small: 23px;
$line-height-font-size-base: 28px;
$line-height-font-size-medium: 32px;
$line-height-font-size-large: 56px;
$line-height-font-size-xlarge: 70px;

// Geral

body {
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    color: $font-color;
    font-size: $font-size-base;
    line-height: $line-height-font-size-base;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 90dvw;
}
.container-fluid{
    padding: 0;
}
section{
    margin-top: 72px;
    &:first-of-type{
        margin-top: 0;
    }
}
.font-primary{
    color: $primary-color;
}
.text-primary{
    color: $primary-color !important;
}
.bg-primary{
    background-color: $primary-color !important;
}
h1,h2,h3{
    font-weight: bold;
}
h1{
    font-size: $font-size-xlarge;
    line-height: $line-height-font-size-xlarge;
}
h2{
    font-size: $font-size-large;
    line-height: $line-height-font-size-large;
}
h3{
    font-size: $font-size-medium;
    line-height: $line-height-font-size-medium;
}
.fsz-normal{
    font-size: $font-size-small;
    line-height: $line-height-font-size-small;
}
.icon-circle{
    margin-right: 8px;
}

// Botões

.btn {
    font-size: $font-size-base;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid;
    border-radius: 30px;
    padding: 6px 18px;
    width: max-content;
    transition: all ease 0.3s;
    &.btn-large {
        font-size: $font-size-medium;
        padding: 8px 32px;
    }
    &:hover {
        letter-spacing: 2px;
    }
}
.primary-btn {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: #FFF;
    &:hover {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: #FFF;
    }
}

// Banner

#banner{
    height: 100dvh;
    video{
        position: absolute;
        height: 100dvh;
        z-index: -1;
    }
    .container{
        height: 100%;
        .content-banner{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            gap: 80px;
            .logos{
                gap: 60px;
            }
            h2{
                font-size: 32px;
                line-height: 32px;
            }
        }
    }
}

// International Baccalaureate

#international-baccalaureate{
    #cards-ib{
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
        .card{
            border: 1px solid #DDDDDD;
            border-radius: 8px;
            padding: 15px;
            gap: 15px;
            justify-content: space-between;
            p{
                margin: 0;
            }
        }
    }
}

// IB DP

#ibdp{
    background-image: url('assets/bg-ibdp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    .texts{
        width: 50%;
    }
}

// Aprendizado IB DP

#aprendizado-ibdp{
    h2{
        margin-bottom: 100px;
    }
    .list{
        &:first-child{
            padding-right: 30px;
        }
        &:last-child{
            padding-left: 30px;
            border-left: 2px solid $secondary-color;
            p{
                &:first-child{
                    font-size: 25px;
                    line-height: 36px;
                }
            }
        }
    }
}