body {
  font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  font-size: 20px;
  line-height: 28px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 90dvw;
}

.container-fluid {
  padding: 0;
}

section {
  margin-top: 72px;
}
section:first-of-type {
  margin-top: 0;
}

.font-primary {
  color: #033B74;
}

.text-primary {
  color: #033B74 !important;
}

.bg-primary {
  background-color: #033B74 !important;
}

.bg-secondary {
  background-color: #DC2730 !important;
}

.bg-tertiary {
  background-color: #38CEFF !important;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 48px;
  line-height: 70px;
}

h2 {
  font-size: 40px;
  line-height: 56px;
}

h3 {
  font-size: 25px;
  line-height: 32px;
}

.fsz-normal {
  font-size: 16px;
  line-height: 23px;
}

.icon-circle {
  margin-right: 8px;
}

.card {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  padding: 15px;
  gap: 20px;
  justify-content: space-between;
}
.card p {
  margin: 0;
}

.btn {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid;
  border-radius: 30px;
  padding: 6px 18px;
  width: -moz-max-content;
  width: max-content;
  transition: all ease 0.3s;
}
.btn.btn-large {
  font-size: 25px;
  padding: 8px 32px;
}
.btn:hover {
  letter-spacing: 2px;
}

.primary-btn {
  background-color: #DC2730;
  border-color: #DC2730;
  color: #FFF;
}
.primary-btn:hover {
  background-color: #DC2730;
  border-color: #DC2730;
  color: #FFF;
}

#banner {
  height: 100dvh;
}
#banner video {
  position: absolute;
  height: 100dvh;
  z-index: -1;
}
#banner .container {
  height: 100%;
}
#banner .container .content-banner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  gap: 80px;
}
#banner .container .content-banner .logos {
  gap: 60px;
}
#banner .container .content-banner h2 {
  font-size: 32px;
  line-height: 32px;
}

#international-baccalaureate #cards-ib {
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

#ibdp {
  background-image: url("assets/bg-ibdp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#ibdp .texts {
  width: 50%;
}

#aprendizado-ibdp h2 {
  margin-bottom: 100px;
}
#aprendizado-ibdp .list:first-child {
  padding-right: 30px;
}
#aprendizado-ibdp .list:last-child {
  padding-left: 30px;
  border-left: 2px solid #DC2730;
}
#aprendizado-ibdp .list:last-child p:first-child {
  font-size: 25px;
  line-height: 36px;
}

#trajetoria-ibdp {
  background-color: #033B74;
  background-image: url(assets/bg-trajetoria.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#trajetoria-ibdp .timeline {
  border: 2px solid #DDDDDD;
  border-radius: 8px;
}
#trajetoria-ibdp .timeline .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#trajetoria-ibdp .timeline .timeline-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #DDDDDD;
  gap: 2px;
  border-radius: 6px 6px 0 0;
}
#trajetoria-ibdp .timeline .timeline-header div {
  background-color: #fff;
  padding: 5px 10px;
}
#trajetoria-ibdp .timeline .timeline-semestres {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #DDDDDD;
  gap: 2px;
}
#trajetoria-ibdp .timeline .timeline-semestres div {
  background-color: #033B74;
  padding: 20px 30px;
}
#trajetoria-ibdp .timeline .timeline-conteudo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #DDDDDD;
  gap: 2px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  border-radius: 0 0 6px 6px;
}
#trajetoria-ibdp .timeline .timeline-conteudo div {
  padding: 10px 15px;
}
#trajetoria-ibdp .timeline .timeline-conteudo div.bg-secondary {
  grid-column: 2/span 4;
}
#trajetoria-ibdp .timeline .timeline-conteudo div:first-child {
  border-radius: 0 0 0 6px;
}
#trajetoria-ibdp .timeline .timeline-conteudo div:last-child {
  border-radius: 0 0 6px 0;
}

#habilidades-para-a-vida #cards-habilidades {
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
#habilidades-para-a-vida #cards-habilidades .card p {
  line-height: 20px;
}

#perfil-do-aluno {
  background-image: url(assets/bg-proposito.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 70px;
}
#perfil-do-aluno .content-perfil {
  padding: 70px 70px 50px;
  border-radius: 24px;
}
#perfil-do-aluno .content-perfil #cards-perfil {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 50px;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil {
  align-items: center;
  gap: 15px;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil svg {
  width: 48px;
  min-width: 48px;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil h3, #perfil-do-aluno .content-perfil #cards-perfil .perfil p {
  font-size: 16px;
  line-height: 23px;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil h3 {
  color: #38CEFF;
  margin-bottom: 0;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil p {
  color: #FFF;
  margin-bottom: 0;
}
#perfil-do-aluno .proposito {
  margin-top: 90px;
}
#perfil-do-aluno .proposito h2 {
  line-height: 40px;
}/*# sourceMappingURL=style.css.map */