body {
  font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  font-size: 20px;
  line-height: 28px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 90dvw;
}

.container-fluid {
  padding: 0;
}

section {
  margin-top: 72px;
}
section:first-of-type {
  margin-top: 0;
}

.font-primary {
  color: #033B74;
}

.text-primary {
  color: #033B74 !important;
}

.bg-primary {
  background-color: #033B74 !important;
}

.bg-secondary {
  background-color: #DC2730 !important;
}

.bg-tertiary {
  background-color: #38CEFF !important;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 48px;
  line-height: 70px;
}

h2 {
  font-size: 40px;
  line-height: 56px;
}

h3 {
  font-size: 25px;
  line-height: 32px;
}

.fsz-normal {
  font-size: 16px;
  line-height: 23px;
}

.icon-circle {
  margin-right: 8px;
}

.card {
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  padding: 15px;
  gap: 20px;
  justify-content: space-between;
}
.card p {
  margin: 0;
}

.btn {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid;
  border-radius: 30px;
  padding: 6px 18px;
  width: -moz-max-content;
  width: max-content;
  transition: all ease 0.3s;
}
.btn.btn-large {
  font-size: 25px;
  padding: 8px 32px;
}
.btn:hover {
  letter-spacing: 2px;
}

.primary-btn {
  background-color: #DC2730;
  border-color: #DC2730;
  color: #FFF;
}
.primary-btn:hover {
  background-color: #DC2730;
  border-color: #DC2730;
  color: #FFF;
}

.transparent-btn {
  background-color: transparent;
  border-color: #033B74;
  color: #033B74;
}
.transparent-btn:hover {
  color: #033B74;
  border-color: #033B74;
}

#banner {
  height: 100dvh;
}
#banner video {
  position: absolute;
  height: 100dvh;
  z-index: -1;
}
#banner .container {
  height: 100%;
}
#banner .container .content-banner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  gap: 80px;
}
#banner .container .content-banner .logos {
  gap: 60px;
}
#banner .container .content-banner h2 {
  font-size: 32px;
  line-height: 32px;
}

#international-baccalaureate #cards-ib {
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

#ibdp {
  background-image: url("assets/bg-ibdp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#ibdp .texts {
  width: 50%;
}

#aprendizado-ibdp h2 {
  margin-bottom: 100px;
}
#aprendizado-ibdp .list:first-child {
  padding-right: 30px;
}
#aprendizado-ibdp .list:last-child {
  padding-left: 30px;
  border-left: 2px solid #DC2730;
}
#aprendizado-ibdp .list:last-child p:first-child {
  font-size: 25px;
  line-height: 36px;
}

#trajetoria-ibdp {
  background-color: #033B74;
  background-image: url(assets/bg-trajetoria.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#trajetoria-ibdp .timeline {
  border: 2px solid #DDDDDD;
  border-radius: 8px;
}
#trajetoria-ibdp .timeline .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
#trajetoria-ibdp .timeline .timeline-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #DDDDDD;
  gap: 2px;
  border-radius: 6px 6px 0 0;
}
#trajetoria-ibdp .timeline .timeline-header div {
  background-color: #fff;
  padding: 5px 10px;
}
#trajetoria-ibdp .timeline .timeline-semestres {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #DDDDDD;
  gap: 2px;
}
#trajetoria-ibdp .timeline .timeline-semestres div {
  background-color: #033B74;
  padding: 20px 30px;
}
#trajetoria-ibdp .timeline .timeline-conteudo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #DDDDDD;
  gap: 2px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  border-radius: 0 0 6px 6px;
}
#trajetoria-ibdp .timeline .timeline-conteudo div {
  padding: 10px 15px;
}
#trajetoria-ibdp .timeline .timeline-conteudo div.bg-secondary {
  grid-column: 2/span 4;
}
#trajetoria-ibdp .timeline .timeline-conteudo div:first-child {
  border-radius: 0 0 0 6px;
}
#trajetoria-ibdp .timeline .timeline-conteudo div:last-child {
  border-radius: 0 0 6px 0;
}

#habilidades-para-a-vida #cards-habilidades {
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
#habilidades-para-a-vida #cards-habilidades .card p {
  line-height: 20px;
}

#perfil-do-aluno {
  background-image: url(assets/bg-proposito.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 70px;
}
#perfil-do-aluno .content-perfil {
  padding: 70px 70px 50px;
  border-radius: 24px;
}
#perfil-do-aluno .content-perfil #cards-perfil {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 50px;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil {
  align-items: center;
  gap: 15px;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil svg {
  width: 48px;
  min-width: 48px;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil h3, #perfil-do-aluno .content-perfil #cards-perfil .perfil p {
  font-size: 16px;
  line-height: 23px;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil h3 {
  color: #38CEFF;
  margin-bottom: 0;
}
#perfil-do-aluno .content-perfil #cards-perfil .perfil p {
  color: #FFF;
  margin-bottom: 0;
}
#perfil-do-aluno .proposito {
  margin-top: 90px;
}
#perfil-do-aluno .proposito h2 {
  line-height: 40px;
}

#faq {
  background-color: #DDDDDD;
  padding-top: 72px;
}
#faq .container {
  padding-bottom: 200px;
}
#faq .faq-item {
  padding: 15px 0;
}
#faq .faq-question {
  color: #333333;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  text-align: left;
  padding: 0;
}
#faq .faq-question svg {
  width: 20px;
  transition: all ease 0.3s;
}
#faq .faq-question.active svg {
  transform: rotate(180deg);
}
#faq .faq-answer {
  padding-left: 35px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all ease 0.6s;
}
#faq .faq-answer p {
  margin-bottom: 0;
}
#faq .faq-answer.open {
  opacity: 1;
  height: -moz-max-content;
  height: max-content;
}

#converse-com-a-equipe {
  background-image: url(assets/bg-forms.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}
#converse-com-a-equipe h2 {
  line-height: 40px;
}
#converse-com-a-equipe h3 {
  color: #033B74;
  margin-bottom: 5px;
}
#converse-com-a-equipe .form-row {
  display: grid;
  gap: 32px;
}
#converse-com-a-equipe .form-row.input-1 {
  grid-template-columns: repeat(1, 1fr);
}
#converse-com-a-equipe .form-row.input-2 {
  grid-template-columns: repeat(2, 1fr);
}
#converse-com-a-equipe .form-row.input-3 {
  grid-template-columns: repeat(3, 1fr);
}
#converse-com-a-equipe .form-row.input-2-1 {
  grid-template-columns: 2fr 1fr;
}
#converse-com-a-equipe input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #033B74;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  transition: all 0.2s ease;
}
#converse-com-a-equipe input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 18px;
  width: 18px;
  height: 18px;
  border: 2px solid #033B74;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  transition: all 0.2s ease;
}
#converse-com-a-equipe input[type=checkbox]:focus {
  outline: 2px solid rgba(3, 59, 116, 0.4);
  outline-offset: 2px;
}
#converse-com-a-equipe input[type=checkbox]:checked {
  background-color: #033B74;
  border-color: #033B74;
}
#converse-com-a-equipe input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
#converse-com-a-equipe select,
#converse-com-a-equipe input[type=text],
#converse-com-a-equipe input[type=email],
#converse-com-a-equipe input[type=date],
#converse-com-a-equipe input[type=number] {
  font-size: 16px;
  color: #033B74;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  height: 40px;
}
#converse-com-a-equipe input[type=radio]:checked::before {
  content: "";
  position: absolute;
  inset: 4px;
  background: #DC2730;
  border-radius: 50%;
}
#converse-com-a-equipe button[type=submit],
#converse-com-a-equipe #adicionarAluno {
  padding: 6px 30px;
}
#converse-com-a-equipe .radio-aluno label {
  cursor: pointer;
}
#converse-com-a-equipe label {
  display: flex;
  align-items: center;
  color: #033B74;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 3px;
}
#converse-com-a-equipe form {
  display: none;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.3));
  padding: 0 60px 60px 0;
}
#converse-com-a-equipe form #alunosContainer .aluno .aluno-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
#converse-com-a-equipe form #alunosContainer .aluno .aluno-header .remover-aluno {
  font-size: 16px;
  line-height: 23px;
  color: #333333;
  border-color: #333333;
  padding: 3px 18px;
}
#converse-com-a-equipe form #alunosContainer .aluno:nth-child(n+2) {
  margin-top: 24px;
}
#converse-com-a-equipe form .termos {
  margin-top: 30px;
}
#converse-com-a-equipe form .termos label {
  align-items: flex-start;
  gap: 8px;
}
#converse-com-a-equipe form .termos label p {
  color: #333333;
}
#converse-com-a-equipe form.ativo {
  display: block;
}

#obrigado {
  background-image: url(assets/bg-obrigado.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100dvw;
  height: 100dvh;
}
#obrigado .texto {
  display: flex;
  align-items: center;
  border-right: 2px solid #DDDDDD;
  padding-right: 50px;
}

#possibilidades {
  position: relative;
  z-index: 0;
  padding: 100px 140px;
}
#possibilidades .textos {
  color: #FFF;
}
#possibilidades .textos .colunas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
#possibilidades .textos .colunas .col-text h3 {
  margin-bottom: 20px;
}
#possibilidades .textos .colunas .col-text:first-child h3 {
  color: #8DC5FF;
}
#possibilidades .textos .colunas .col-text:last-child h3 {
  color: #FFE783;
}
#possibilidades a {
  border-color: #FFF;
  color: #FFF;
}
#possibilidades::before {
  content: "";
  background-image: url(assets/before-possibilidades.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#localizacoes {
  padding: 30px 0 40px;
  margin-top: 0;
}
#localizacoes .locais {
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  color: #FFF;
}
#localizacoes .locais .local {
  padding: 8px 12px 0 0;
  border-right: 1px solid #FFF;
}
#localizacoes .locais .local p, #localizacoes .locais .local h5 {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 0;
}
#localizacoes .locais .local h5 {
  font-weight: bold;
}
#localizacoes .locais .local:last-child {
  border: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
footer svg {
  width: 160px;
}/*# sourceMappingURL=style.css.map */